# Node modules
node_modules/

# macOS files
.DS_Store

# User directories and configuration files
../../.*
../../Applications/
../../Documents/
../../Downloads/
../../Library/
../../Movies/
../../Music/
../../Pictures/
../../Public/
../../Parallels/
../../OneDrive*/ # OneDrive folder variations
../../*.pem
../../*.pdf
../../*.dotx
../../*.png

# Other specific unwanted files or directories
../Hussain*
../Screenshot*

